:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
}

/* Material Design Icons - Setup Method 2. Self hosting
 * http://google.github.io/material-design-icons/ */

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2)
      format("woff2"),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff)
      format("woff"),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf)
      format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: var(--primary-dark);
  color: var(--primary-light);
}

.footer {
  height: 72px;
  background: var(--primary-dark);
}

.sidebar {
  width: 300px;
  background: var(--secondary-light);
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}

.logo > p > span {
  font-size: 2rem;
}

.logo > p {
  font-size: 3rem;
}

.body {
  flex: 1;
  display: flex;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
}

.default-project-list {
  display: flex;
  flex-direction: column;
}

.button-default-project {
  background-color: var(--secondary-light);
  text-align: left;
  vertical-align: middle;
  border: 0;
  border-radius: 5px;
}

.button-default-project > p {
  font-weight: 900;
  vertical-align: top;
}

.button-default-project:hover {
  background-color: var(--primary-light);
}

.button-default-project:active {
  background-color: var(--primary-light);
}

.button-default-project > p > span {
  font-size: 1.75rem;
  vertical-align: middle;
}

.material-icons {
  margin-right: 6px;
}

.projects-title {
  padding: 10px;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.button-project {
  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-light);
  text-align: left;
}

.container {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 16px;
  margin: 16px;
  width: 300px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
